
    <div class="d-flex flex-column vh-100 justify-content-between" id="sidebar">
        <div class="p-2">
            <div class="d-flex flex-column">
                <a class="text-light" routerLink="home">home</a>
                <a class="text-light" >Explore</a>
                <a class="text-light" >Notifications</a>
                <a class="text-light" >Messages</a>
                <a class="text-light" >Bookmarks</a>
                <a class="text-light" >List</a>
                <a class="text-light" >Profile</a>
                <a class="text-light" >More</a>
                <button type="button" class="btn btn-primary" id="btn-tweet">tweet</button>
            </div>
        </div>
        <div class="p-2 border text-light">
            account
        </div>
    </div>

