
    <div class="d-flex flex-column  vh-100 justify-content-between" id="sidebar">
        <div class="p-2">
            <div class="d-flex flex-column">
                <a class="text-light" routerLink="home">logo</a>
                <a class="text-light" routerLink="home">home</a>
                <a class="text-light" >Messages</a>

                <a class="text-light" routerLink="bookmarks">bookmarks</a>
                <button type="button" class="btn btn-primary">tweet</button>
            </div>
        </div>
        <div class="p-2 border text-light">
            account
        </div>
    </div>

