#sidebar{
    background-color: rgb(21, 32, 43);
    width: 100%;
}

*{
    border: 1px solid red;
}

a{
    font-size: 20px;
}
a:hover{
    border-radius: 25px;
    background-color: grey;
}

#btn-tweet{
    width: 150px;
    border-radius: 25px;

}